#twzipcode.row
  = f.input :city, as: :select, wrapper_html: { class: 'col-sm-2' }
  .hidden{ data: { role: "county", name: "house[city]" } }
  = f.input :district, as: :select, wrapper_html: { class: 'col-sm-2' }
  .hidden{ data: { role: "district", name: "house[district]" } }
  = f.input :zipcode, wrapper_html: { class: 'col-sm-2' }
  .hidden{ data: { role: "zipcode", name: "house[zipcode]" } }
  = f.input :address, wrapper_html: { class: 'col-sm-6' }
= f.input :hide_address, as: :boolean