= f.error_notification

%div{ class: ('ajax-input' if action_name == "basic") }
  .row
    - [:house_type, :foreigner].each do |x|
      .col-sm-6
        = render 'partials/act_as_radio_button', x: x, f: f

        = f.input :english_help, as: :boolean if x == :foreigner
  
  %hr
  = f.association :school, collection: School.categories, prompt: true

  = render 'houses/profiles/partials/address_form', f: f

  .row
    %hr
    = f.input :price, wrapper_html: { class: 'col-sm-4'}
    = f.input :min_lease, collection: 1..12, prompt: :translate, wrapper_html: { class: 'col-sm-4'}
    = f.input :security_fee, wrapper_html: { class: 'col-sm-4'}

.text-center{ class: ('hidden' if action_name == "basic") }
  = f.button :submit
  = link_to I18n.t(".back"), houses_path
  /= f.input :house_type, as: :radio_buttons, collection: HouseData.house_type_categories
