= f.error_notification

.form-inputs{ class: ('ajax-input' if action_name == "basic") }
  .row
    .col-sm-7
      = f.collection_radio_buttons :special_floor, HouseData.special_floor_categories, :last, :first do |b|
        = b.label(class: "btn btn-default btn-lg act_as_check_box #{'btn-info' if b.value == @house.special_floor }") { b.radio_button(class: "hidden") + render_option_category(b.value, :special_floor) }
      .has-error= f.error :special_floor
      / - [:house_type, :special_floor].each do |x|
      /   .form-group
      /     = f.label x
      /     = f.input x, label: false#, as: :hidden
      /     = render 'partials/act_as_radio_button', attribute_name: x, obj: @house, mark: 'btn-info', type: btn_type, f: f
      /     = f.error x

    .col-sm-5
      - [:foreigner].each do |x|
        = f.label x
        = f.input x, error: false, label: false#, as: :hidden
        .form-group
          = render 'partials/act_as_radio_button', attribute_name: x, obj: @house, mark: 'btn-info', type: btn_type, f: f
          = f.error x
      = f.input :english_help, as: :boolean
  
  %hr
  = f.association :school, collection: School.categories, prompt: true

  = render 'houses/profiles/partials/address_form', f: f

  .row
    %hr
    = f.input :price, wrapper_html: { class: 'col-sm-4'}
    = f.input :min_lease, collection: 1..12, prompt: :translate, wrapper_html: { class: 'col-sm-4'}
    = f.input :security_fee, wrapper_html: { class: 'col-sm-4'}
    
  #conditional_inputs{ class: ('hide' unless action_name == "basic" && @house.house_type == 1)}    
    .row
      %hr
      = f.input :bedroom, collection: 0..12, wrapper_html: { class: 'col-sm-3'}, prompt: :translate
      = f.input :shared_space, collection: 0..12, wrapper_html: { class: 'col-sm-3'}, prompt: :translate
      = f.input :bathroom, collection: 0..12, wrapper_html: { class: 'col-sm-3'}, prompt: :translate
      = f.input :balcony, collection: 0..12, wrapper_html: { class: 'col-sm-3'}, prompt: :translate
    .row
      %hr
      = f.input :area, wrapper_html: { class: 'col-sm-4'}
      = f.input :building_floor, wrapper_html: { class: 'col-sm-4'}
      = f.input :at_floor, wrapper_html: { class: 'col-sm-4'}

.form-actions.text-center{ class: ('hidden' if action_name == "basic") }
  = f.button :submit
  = link_to I18n.t(".back"), houses_path
  /= f.input :house_type, as: :radio_buttons, collection: HouseData.house_type_categories