.col-sm-2
  = image_tag("#{comment.author.email}")
.col-sm-10
  %blockquote
    = comment.content
    %footer
      %span= comment.author.last_name
      %span= link_to 'reply', user_path(comment.author)