= simple_form_for :comment, { url: new_comment_house_path(@house), remote: true } do |f|
  = f.label :content, 'Leave a comment'
  = f.input :content, as: :text, label: false
  = f.submit

- @comments.each do |c|
  .col-sm-2
    = image_tag("#{c.author.email}")
  .col-sm-10
    %blockquote
      = c.content
      %footer= c.author.last_name