.avatar
  /= image_tag("#{comment.author.image}")
  = image_tag("10477565_10152578368088707_3728282605610964447_o.jpg")
.content
  %blockquote
    = comment.content
    %footer
      %span= link_to comment.author.last_name
      %span.pull-right
        = "#{comment.created_at.strftime('%F %R')}"
        = link_to "#{comment.commentable.class.name.camelize}#{comment.commentable.id}", comment.commentable
  - if policy(@new_reply = comment.comments.new).reply? && comment.comments.size <= 1
    .actions.reply_btn
      = link_to 'Click to reply', '#', class: 'reply_text'
      %span= render 'comments/reply_form', obj: comment

.comments
  - comment.comments.recent.try(:each) do |reply|
    .comment
      .avatar
        = image_tag("10477565_10152578368088707_3728282605610964447_o.jpg")
        /= image_tag("#{reply.author.image}")
      .content
        %blockquote
          = reply.content
          %footer
            %span= "From :#{reply.author.last_name}"
            %span= "To :#{reply.commentable.author.last_name}"