- comment.comments.recent.try(:each) do |reply|
  %div{ class: "col-sm-offset-#{level} col-sm-1"}
    = image_tag("#{reply.author.image}")
  %div{ class: "col-sm-#{11-level}"}
    %blockquote
      = reply.content
      %footer
        %span= "From :#{reply.author.last_name}"
        %span= "To :#{reply.commentable.author.last_name}"
        - if current_user
          %span.reply_btn{ class:('hidden' if level > 1)}
            %span.reply_text.pull-right= link_to 'Click to reply', '#'
            %span= render 'comments/form', obj: reply

  = render 'comments/reply', comment: reply, level: 2