<% model_name = obj.class.to_s.downcase %>
<% prefix = model_name + "_" %>
<% model_data = (model_name.camelize + "Data").constantize %>
<% model_data.public_send( "#{attribute_name}_categories").each do |key, value| %>
  <button name=<%= "#{prefix}#{attribute_name}"%> data-value=<%= value %> data-selected=<%= selected %> type="button" class="btn <%= unselected if defined?(unselected) %> <%= extra_class if defined?(extra_class) %> <%= obj.public_send("#{attribute_name}").include?(value) ? selected : '' %>">
    <%= render_option_category(value, attribute_name) %>
  </button>
<% end %>

<% comment do %>
<script type="text/javascript">
  $('button.act_as_check_box').click(function(){
    var value = $(this).data("value");
    var this_hidden = $('#' + this.name + '_' + value);
    var checked = this_hidden.prop("checked");
    console.log(value);
    console.log(this_hidden);
    console.log(checked);
    if(checked){
      this_hidden.prop('checked', false);
      $(this).removeClass('<%= selected %>');
    }else{
      this_hidden.prop('checked', true);
      $(this).addClass('<%= selected %>');
    }
    //console.log(checked);
  });
</script>
<% end %>