= simple_form_for @house, html: {multipart: true, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { boolean: :horizontal_boolean } do |f|
  = f.error_notification

  .form-inputs
    %h2= t ".basic_information"
    %hr
    - [:house_type, :special_floor, :foreigner, :english].each do |x|
      = f.input x, as: :hidden
      %h3= t ".#{x}"
      = render partial:'act_as_radio_button', locals: { attribute_name: x, obj: @house, extra_class: 'btn-lg', mark: 'btn-info', type: "button" }
    %hr
    = f.input :building_floor
    = f.input :at_floor
    %hr
    = f.input :bedroom
    = f.input :shared_space
    = f.input :bathroom
    = f.input :balcony
    %hr
    = f.input :location
    = f.input :hide_location, as: :boolean
    %hr
    = f.input :price
    = f.input :min_lease, collection: 1..12, prompt: true
    = f.input :security_fee
    %hr
    = f.association :school, collection: School.categories, prompt: true

  .form-actions.text-center
    = f.button :submit