.col-sm-3.col-md-2.sidebar
  = render "profile_options"
.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
  = notice_message
  %h1{ style: "display:inline"}= t ".title"
  %span.ajax-text
  %hr
  
  = simple_form_for @house, remote: true do |f|
    = f.error_notification
    .form-inputs
      - [:amenity, :furniture, :extra_fee, :public_facility].each do |x|
        = f.label x
        .form-group
          = render partial:'act_as_check_box', locals: { attribute_name: x, obj: @house, mark: 'btn-danger', f: f, type: "submit" }
          .hidden
            = f.input x, as: :check_boxes, collection: House.option_categories(x)
      - [:personal_parking_lot].each do |x|
        = f.label x
        = f.input x, as: :hidden
        .form-group
          = render partial:'act_as_radio_button', locals: { attribute_name: x, obj: @house, mark: 'btn-danger', f: f, type: "submit"  }