%h1{ style: "display:inline"}= t ".title"
%span.ajax-text
%hr

= simple_form_for @house, remote: true do |f|
  = f.error_notification

  .form-inputs.ajax-input
    -# as: :string is for datetimepicker, actually store as date
    = f.input :available_date, as: :string, input_html: { id: "datetimepicker1" }
    -# if available_earlier? && Date.current >= available_date.months_ago(1)
    = f.input :reservable_date, as: :string, input_html: { id: "datetimepicker2" }, hint: "it's recommend that being reservable ASAP."
    
    = f.button :submit

:javascript

$(function(){
  $('#datetimepicker1, #datetimepicker2').datetimepicker({
    format: 'YYYY-MM-DD',
    locale: moment.locale('zh-tw'),
    inline: true,
    useCurrent: false
  });
  //$('#datetimepicker1').focus();
});