%h1= t ".title"
= search_form_for @q, url: houses_path, class: "form-inline" do |f|
  %div.form-group
    = f.collection_select :school_id_eq, School.categories, :last, :first, { prompt: true }, { class: 'form-control' }
    = f.select :person_eq, House.option_categories('person'), { prompt: true }, { class: 'form-control' }
    = f.collection_select :house_type_eq, House.option_categories('house_type'), :last, :first, { prompt: true }, { class: 'form-control' }
    = f.collection_select :aasm_state_eq, I18n.t('aasm_state_categories'), :first, :last, { prompt: true }, { class: 'form-control' }
    = f.button class: 'btn btn-primary btn-lg' do
      = glyph('search')

%table.table
  %thead
    %tr
      %th= sort_link(@q, :title)
      %th= sort_link(@q, :price)
      %th Views
      %th Status
      %th Comments
      %th

  %tbody
    - @houses.each do |house|
      %tr
        %td= link_to house.title, basic_house_path(house)
        %td= house.price
        %td
        %td
        %td
          - house.comments.try(:each) do |comment|
            = "#{comment.content} by #{comment.author.last_name}"
        %td= link_to 'View', house

%br

= paginate @houses
= link_to "new_house", new_house_path, class: 'btn btn-success'