%h1 Listing houses

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Location
      %th Price
      %th
      %th
      %th

  %tbody
    - @houses.each do |house|
      %tr
        %td= house.title
        %td= house.description
        %td= house.location
        %td= house.price
        %td= link_to 'Show', house
        %td= link_to 'Edit', edit_house_path(house)
        %td= link_to 'Destroy', house, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New House', new_house_path
