= notice_message
%h1{ style: "display:inline" }= t ".title"
%span.ajax-text
%hr
= simple_form_for @house, html: { multipart: true } do |f|
  = f.error_notification

  .form-inputs
    = t "images"
    = render 'house_images'
    = file_field_tag "image[]", multiple: true
  
  = f.input :photo_help, as: :boolean
    
  = f.button :button do
    = t ".upload_photo"