- content_for :outside do
  = render 'houses/partials/multi_rooms_carousel'
/ .container-fluid
/   #images.row
/     .col-sm-7
/       = image_tag @house.attachments[0].image_url(:large)
/     .col-sm-5
/       - @house.attachments.each_with_index do |a, i|  
/         = image_tag @house.attachments[i].image_url(:thumb), id: "image#{a.id}"

.row
  .col-sm-7
    %h1= @house.title
    %address= "#{@house.address}, #{@house.city}, #{@house.district}"

  .col-sm-5
    %h2= "#{ number_to_currency(@house.price, precision: 0) } / month"
    = render_book_btn(@house)

= link_to @house.owner.last_name, user_path(@house.owner)

- ["amenity", "furniture", "extra_fee", "public_facility", "safety"].each do |x|
  = render 'houses/partials/checked_options', x: x

.well{ class: ('hidden' if @house.description.blank?) }
  %h4 Description
  %p= sanitize @house.description

#comments-section
  /= render "comments/comments_section", obj: @house
%form#geocoding_form
  .input
    %input#address{:name => "address", :type => "text"}
      %input.btn{:type => "submit", :value => "Search"}
#map
:javascript
  $(document).ready(function(){
    
    map = new GMaps({
      div: '#map',
      lat: -12.043333,
      lng: -77.028333
    });
    map.setZoom(10);
    $('#geocoding_form').submit(function(e){
      e.preventDefault();
      GMaps.geocode({
        address: $('#address').val().trim(),
        callback: function(results, status){
          if(status=='OK'){
            var latlng = results[0].geometry.location;
            map.setCenter(latlng.lat(), latlng.lng());
            map.addMarker({
              lat: latlng.lat(),
              lng: latlng.lng()
            });
          }
        }
      });
    });
  });