= render 'houses/partials/carousel'
/ .container-fluid
/   #images.row
/     .col-sm-7
/       = image_tag @house.attachments[0].image_url(:large)
/     .col-sm-5
/       - @house.attachments.each_with_index do |a, i|  
/         = image_tag @house.attachments[i].image_url(:thumb), id: "image#{a.id}"
.container
  .row
    .col-sm-7
      %h1= @house.title
      %address= "#{@house.address}, #{@house.city}, #{@house.district}"

    .col-sm-5
      %h2= "#{ number_to_currency(@house.price, precision: 0) } / month"
      = link_to 'Book Now', root_path, class: 'btn btn-success btn-lg'
      /%p= "Last updated at: #{ @house.updated_at.strftime('%Y-%m-%d') }"
  
  - ["amenity", "furniture", "extra_fee"].each do |x|
    = render 'houses/partials/checked_options', x: x

  .well
    %h4 Description
    %p= sanitize @house.description
  
  #comments-section
    = render "comments/comments_section"
= console
