= image_tag("#{current_user.image}")

= render "personal_btns"

%p
  %b ID
  = current_user.id
%p
  %b= t User.human_attribute_name(:provider)
  = current_user.provider
%p
  %b= t User.human_attribute_name(:uid)
  = current_user.uid
%p
  %b= User.human_attribute_name(:full_name)
  = current_user.full_name
%p
  %b= t User.human_attribute_name(:phone_number)
  = current_user.phone_number
%p
  %b= t User.human_attribute_name(:email)
  = current_user.email
%p
  %b= t User.human_attribute_name(:facebook_page)
  = link_to current_user.fb_url
%p
  %b= t User.human_attribute_name(:location)
  = current_user.location
%p
  %b= t User.human_attribute_name(:school)
  = current_user.school_name
  /= render_school_category(current_user.school_id)
%p
  %b= t User.human_attribute_name(:start_school_year)
  = current_user.start_school_year

%p
  %b= t User.human_attribute_name(:pin)
  = current_user.pin.content if current_user.pin
%p
  %b= t User.human_attribute_name(:verified)
  - if current_user.verified
    您已完成手機驗證
  - else
    您尚未完成手機驗證
    = link_to phone_verify_user_path(current_user) do
      = t ".verify"
    = link_to resend_pin_user_path(current_user) do
      = t ".resend_pin"

= render 'common/fb_login_button' unless current_user.provider == 'facebook'


#comments-section
  %h1= "評價"
  = render "comments/comments_section", obj: current_user

  - current_user.houses.each do |my_house|    
    - my_house.comments.try(:each) do |comment|
      = render 'comments/comment', comment: comment
      
  %h1= "您寫下的評價"
  - current_user.my_comments.each do |my_comment|
    - unless my_comment.commentable.class.name == 'Comment'
      = render 'comments/comment', comment: my_comment