%p
  %b= t "user.name"
  = @user.name
%p
  %b= t "user.phone_number"
  = @user.phone_number
%p
  %b= t "user.email"
  = @user.email
%p
  %b= t "user.start_school_year"
  = @user.start_school_year
%p
  %b= t "user.pin"
  = @user.pin.content
%p
  %b= t "user.verified"
  - if @user.verified
    您已完成手機驗證
  - else
    您尚未完成手機驗證
    = link_to I18n.t('Verify'), phone_verify_user_path(@user)
    = link_to I18n.t("Didn't get the code?"), resend_pin_user_path(@user)

= link_to I18n.t('Edit'), edit_user_path(@user)
= link_to I18n.t('Delete'), user_path(@user), method: :delete, data: {confirm: "Are you sure?"}
