= image_tag("#{@user.image}")
%p
  %b ID
  = @user.id
%p
  %b= t User.human_attribute_name(:provider)
  = @user.provider
%p
  %b= User.human_attribute_name(:full_name)
  = @user.full_name
%p
  %b= t User.human_attribute_name(:phone_number)
  = @user.phone_number
%p
  %b= t User.human_attribute_name(:facebook_page)
  = link_to @user.fb_url
%p
  %b= t User.human_attribute_name(:location)
  = @user.location
%p
  %b= t User.human_attribute_name(:school)
  = @user.school_name



#comments-section
  = render "comments/comments_section", obj: @user
  
  - @user.houses.each do |my_house|    
    - my_house.comments.try(:each) do |comment|
      = render 'comments/comment', comment: comment