%p
  %b= t "user.name"
  = current_user.name
%p
  %b= t "user.phone_number"
  = current_user.phone_number
%p
  %b= t "user.email"
  = current_user.email
%p
  %b= t "user.expected_graduation_date"
  = current_user.expected_graduation_date
%p
  %b= t "user.pin"
  = current_user.pin.content
%p
  %b= t "user.verified"
  = current_user.verified

= link_to 'Verify', phone_verify_user_path(current_user)
\|
= link_to 'Edit', edit_user_path(current_user)
