%p#notice= notice

%p
  %b= t "user.name"
  = @user.name
%p
  %b= t "user.phone_number"
  = @user.phone_number
%p
  %b= t "user.email"
  = @user.email
%p
  %b= t "user.expected_graduation_date"
  = @user.expected_graduation_date

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
