- bg = image_url("noletter-01.png")
#home-jumbotron.jumbotron{ style: "background-image: url(#{ bg });" }
  .container.vertically-center
    %div
      %h2 Which school do you go to?
      = search_form_for @q, url: search_path, class: "form-inline" do |f|
        %div.form-group
          = f.search_field @criteria, class: 'form-control input-lg', placeholder: 'Search'
          = f.search_field :title_cont

          /= f.collection_select :school_id, School.all, :id, :name, { class: 'form-control' }
          = f.button 'Go', class: 'btn btn-primary btn-lg'
.container
  .row
    - @schools.each do |school|
      - bg = image_url("#{ render_school_category(school.id) }.jpg")
      .col-lg-4.col-sm-6.school-grid
        = link_to school do
          .school-card{ style: "background-image: url(#{ bg });" }
            %div.vertically-center
              %div
                %h2.white-text= render_school_category(school.id)