- bg = image_url("noletter-01.png")
#home-jumbotron.jumbotron{ style: "background-image: url(#{ bg });" }
  .container.vertically-center
    %div
      %h2 Which school do you go to?
      = search_form_for @q, url: search_path, class: "form-inline" do |f|
        %div.form-group
          = f.collection_select :school_id_eq, School.categories, :last, :first, { prompt: true }, { class: 'form-control' }
          = f.select :person_eq, House.option_categories('person'), { prompt: true }, { class: 'form-control' }
          = f.collection_select :house_type_eq, House.option_categories('house_type'), :last, :first, { prompt: true, selected: 2 }, { class: 'form-control' }
          = f.collection_select :aasm_state_eq, I18n.t('aasm_state_categories'), :first, :last, { prompt: true }, { class: 'form-control' }
          = f.button class: 'btn btn-primary btn-lg' do
            = glyph('search')
.container
  .row
    - @schools.each do |school|
      /- bg = image_url("#{ render_school_category(school.id) }.jpg")
      .col-lg-4.col-sm-6.school-grid
        = link_to school do
          .school-card{ style: "background-image: url(#{ bg });" }
            %div.vertically-center
              %div
                %h2.white-text= render_school_category(school.id)

    = render 'next_card'

/%script{ src: "http://occipital.com/360/embed.js?pano=bC8A2U&width=640&height=480" }