%h1 Search results

%table.table
  %thead
    %tr
      %th= sort_link(@q, :title)
      %th= sort_link(@q, :price)
      %th Views
      %th Status
      %th Comments
      %th

  %tbody
    - @houses.each do |house|
      %tr
        %td= link_to house.title, basic_house_path(house)
        %td= house.price
        %td
        %td
        %td= house.description
        %td= link_to 'View', house

%br

= paginate @houses
= console