= simple_form_for(@room, html: {multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price

    = render 'room_images'

    = file_field_tag "image[]", multiple: true

  .form-actions
    = f.button :submit
