= simple_form_for @room do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price

  .form-actions
    = f.button :submit

- if @room.image
  = image_tag @room.image_url(:thumb)

= render 'upload_image' if action_name == 'edit' || action_name == 'update'