= simple_form_for(@room) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price
    = f.input :image, as: :file

  .form-actions
    = f.button :submit
