= simple_form_for(@room, html: {multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price
    - if @room.image
      = image_tag @room.image_url(:thumb)
    = f.input :image, as: :file

  .form-actions
    = f.button :submit



/= render 'upload_image' if action_name == 'edit' || action_name == 'update'
