= simple_form_for(@room, html: {multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    - [:title, :description, :location, :price].each do |attribute_name|
      = f.input attribute_name
    - [:room_type, :gender].each do |attribute_name|
      = f.input attribute_name#, as: :hidden
      = render partial:'act_as_radio_buttons', locals: { attribute_name: attribute_name, obj: @room }

    - [:amenity, :furniture, :extra_fee].each do |x|
      .pseudo-hidden
        = f.input x.to_sym, as: :check_boxes, collection: Room.option_categories(x), prompt: true, :input_html => { :include_hidden => false }

    = render 'room_images'

    = file_field_tag "image[]", multiple: true

  .form-actions
    = f.button :submit