= simple_form_for(@room, html: {multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price
    = f.file_field :images, multiple: true
    - for i in 0 .. @room.images.size - 1 do
      = image_tag @room.images[i].url(:thumb)
      = f.check_box :remove_images

  .form-actions
    = f.button :submit



/= render 'upload_image' if action_name == 'edit' || action_name == 'update'
