= simple_form_for(@room, html: {multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price
    = f.file_field :images, multiple: true

  .form-actions
    = f.button :submit

- if @room.pictures
  /= image_tag @room.pictures[0].image_url(:thumb)


/= render 'upload_image' if action_name == 'edit' || action_name == 'update'
