= simple_form_for(@room, html: {multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :location
    = f.input :price
    = f.file_field :images, multiple: true

  .form-actions
    = f.button :submit
