= render 'room_images'

%p
  %b Title:
  = @room.title
%p
  %b Amenities:
  - if @room.amenity?
    - @room.amenity.each do |a|
      = render_option_category(a, "amenity")
  - else
    = t 'empty'
%p
  %b Furnitures:
  - if @room.furniture?
    - @room.furniture.each do |a|
      = render_option_category(a, "furniture")
  - else
    = t 'empty'
%p
  %b Extra fee:
  - if @room.extra_fee?
    - @room.extra_fee.each do |a|
      = render_option_category(a, "extra_fee")
  - else
    = t 'empty'
%p
  %b Description:
  = @room.description
%p
  %b Location:
  = @room.location
%p
  %b Price:
  = "#{ number_to_currency(@room.price, precision: 0) } / month"
%p
  %b Last updated at:
  = @room.updated_at.strftime("%Y-%m-%d")
  
= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path

= console