= render 'room_images'

%p
  %b Title:
  = @room.title

- ["amenity", "furniture", "extra_fee"].each do |x|
  = render partial: 'checked_options', locals: {x: x}
%p
  %b Description:
  = @room.description
%p
  %b Location:
  = @room.location
%p
  %b Price:
  = "#{ number_to_currency(@room.price, precision: 0) } / month"
%p
  %b Last updated at:
  = @room.updated_at.strftime("%Y-%m-%d")
  
= link_to 'Edit', edit_room_path(@room)
\|
= link_to 'Back', rooms_path

= console