= simple_form_for @house, remote: true do |f|
  = f.error_notification

  .ajax-input.row.datetimerange
    -# as: :string is for datetimepicker, actually store as date
    -# if available_earlier? && Date.current >= available_date.months_ago(1)
    = f.input :reservable_date, as: :date_picker, wrapper: :ranged_datetime, autofocus: true
    = f.input :available_date, as: :date_picker, wrapper: :ranged_datetime
    .hidden
      = f.button 'submit'
  %h3#house_status= @house.aasm_state