= simple_form_for @house, remote: true do |f|
  = f.error_notification
  
  .ajax-input
    = f.input :title
    = f.input :description, :input_html => {:rows => 10}
    /= render_description(1000)

    - [:rule].each do |x|      
      = render 'partials/act_as_check_box', x: x, f: f, obj: @house
    - [:gender, :direction].each do |x|      
      = render 'partials/act_as_radio_button', x: x, f: f, obj: @house
  
  .hidden= f.submit