/change this partial to button-alike
%p
  %b= "#{x.capitalize}:"
  - if @house.public_send("#{x}?")
    - @house.public_send(x).each do |a|
      = render_house_category(a, x)
  - else
    = t 'empty'