= f.error_notification

%div{ class: ('ajax-input' if action_name == "basic") }
  .row
    - [:house_type, :foreigner].each do |x|
      .col-sm-6
        = render 'partials/act_as_radio_button', x: x, f: f

        = f.input :english_help, as: :boolean if x == :foreigner
  
  %hr
  = f.association :school, collection: School.categories, prompt: true

  = render 'houses/profiles/partials/address_form', f: f

.text-center
  = f.button :submit
  = link_to I18n.t(".back"), current_user