.ui.three.cards
  - houses.each do |house|
    / %tr
    /   %td= render_option_category(house.school_id, 'school', 'SchoolData')
    /   %td= link_to house.title, house
    /   %td= number_to_currency(house.price, precision: 0)
    /   %td= render_house_category(house.house_type, 'house_type')
    /   %td= render_house_category(house.aasm_state, 'aasm_state')
    /   %td= house.person
    .ui.card
      .content
        = image_tag 'image.png', class: "ui avatar image"
        = house.owner.last_name
      = link_to house, class: "image ui move reveal" do
        - if house.attachments.exists?
          - house.attachments.each_with_index do |picture, index|
            = image_tag picture.image_url(:thumb), class: "#{index == 2 ? 'visible' : 'hidden'} content"
        - else
          = image_tag('image.png')
      .content
        %span.right.floated
          = link_to root_path do
            %i.floated.like.icon
          = "#{rand(0..20)} likes"
        .header= number_to_currency(house.price, precision: 0)
        .meta
          = house.city
          = house.district
        .description
          %span= render_space(house)
      .extra.content
        = house.title