.ui.three.cards
  - houses.each do |house|
    .ui.card
      .content
        = house.title
      = link_to house, class: "image ui move reveal" do
        - if house.attachments.exists?
          - house.attachments.each_with_index do |picture, index|
            = image_tag picture.image_url(:thumb), class: "#{index == 2 ? 'visible' : 'hidden'} content"
        - else
          = image_tag('image.png')
      .content
        %span.right.floated
          = link_to root_path do
            = semantic_icon('floated', 'like')
          = "#{rand(0..20)} likes"
        .header= number_to_currency(house.price, precision: 0)
        .meta
          = house.city
          = house.district
        .description
          %span= render_space(house)
      .extra.content
        = image_tag 'image.png', class: "ui avatar image"
        = house.owner.last_name