- if params[:q]
  - no_school_col = "hidden" if params[:q][:school_id_eq].present?
  - no_type_col = "hidden" if params[:q][:house_type_eq].present?
  - no_people_col = "hidden" if params[:q][:person_eq].present?
  - no_state_col = "hidden" if params[:q][:aasm_state_eq].present?

%span.no_school_col= sort_link(@q, :school_id, class: "btn btn-primary")
%span= sort_link(@q, :price)
%span.no_type_col= sort_link(@q, :house_type)
%span.no_state_col= sort_link(@q, :aasm_state)
%span.no_people_col= sort_link(@q, :person)
.house_table
  = render 'common/houses', houses: @houses

.pagination.text-center= link_to_next_page(@houses, 'Next Page', remote: true, params: params, id:'next_page_link', data: { disable_with: "Loading..." })