%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'logo.png', width: '20', height: '20'
      = link_to 'Zuker', root_path, class: 'navbar-brand'
    #navbar.navbar-collapse.collapse      
      %ul.nav.navbar-nav.navbar-right
        - if current_user         
          %li= link_to I18n.t("hello_nav", name: current_user.first_name || current_user.uid), user_path(current_user)
          
          %li= link_to I18n.t('signout'), signout_path
        - else
          / .navbar-form.navbar-right
          / = simple_form_for :user, url: signin_path, wrapper: :inline_form do |f|
          /   = f.input :phone_number, hint: false
          /   = f.input :password, hint: false
          /   = f.button :submit, "Sign in", class: "btn btn-success"
          %li= link_to I18n.t('signin'), signin_path, class: 'white-text'
          %li= link_to I18n.t('Register'), signup_path, class: 'white-text'
