!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Zuker
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.large_padding_top
    #fb-root
    = render 'common/nav'
    .container-fluid
      .col-sm-2.col-md-1.sidebar
        = render 'houses/profiles/partials/profile_options'
      #house-profile.col-sm-10.col-sm-offset-2.col-md-7.col-md-offset-1
        = notice_message
        %h1
          = @house.title || "Title"
          %span.ajax-text
          .pull-right= link_to 'View', @house, class: 'btn btn-success'
        %hr
        = yield