!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Zuker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #fb-root
    = render 'common/nav'
    .col-sm-3.col-md-2.sidebar
      = render "profile_options"
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      /= notice_message
      .container
        = yield